## Hello World

Colab의 셀은 **더블클릭**하거나, **Enter 키**를 입력하여 수정할 수 있습니다.
한 번 시도해볼까요?

먼저, 프로그램의 입력과 출력을 동시에 기억하는 것이 좋습니다.  
Python에 **"Hello, world!"** 를 출력해 결과값을 봅시다.

In [ ]:
print("Hello, world!")

Hello, world!

위에서 사용한 **print**처럼 단어 뒤에 괄호()가 붙는 것들을 **함수(Function)**라고 하며, 해당 함수를 **호출(Call)** 시 정해진 과정이 실행됩니다.

## 주석처리

주석은 **코드의 가독성**을 늘리거나, **Python Interpreter가 처리하지 않도록** 할 때 사용됩니다.
주석의 종류로는 '#'dmf 이용한 한 줄 주석과, """ 을 활용한 여러 줄 주석의 두 가지 방법이 있습니다.

In [ ]:
# 한 줄 주석 처리
"""
여러 줄 주석 예제 동일한 따옴표(큰따옴표 혹은 작은 따옴표) 
세 개와 세 개 사이에는어떠한 내용, 
몇 줄이 들어가더라도 모두 주석으로 처리됩니다.
"""
print("Hello, world!")

Hello, world!

# 변수(Scalar)

## 변수의 종류

Python 언어는 모두 **객체(Object)**로 구현되고, 객체는 하나의 자료형(Type)을 가집니다. 이때의 자료형은 Scalar와 Non-Scalar 두 가지 종류로 구분됩니다.

Scalar 객체는 더는 나눌 수 없는 최소 단위의 자료형입니다.  
Python에는 4가지 종류의 Scalar 자료형이 존재합니다.

Int: 정수를 표현하는데 사용합니다.

In [ ]:
num_int = 1
print(type(num_int))

Float: 실수(Real Number)를 표현하는데 사용합니다.

In [ ]:
num_float = 0.2
print(type(num_float))

<class 'float'>

Bool: True와 False로 나타내는 Boolean 값을 표현하는 데 사용합니다.

In [ ]:
bool_true = False
print(type(bool_true))

<class 'bool'>

None: Null을 나타내는 자료형으로 None이라는 한 가지 값만 가집니다.

In [ ]:
none_x = None
print(type(none_x))

<class 'NoneType'>

## 사칙 연산

**정수형 사칙 연산**  
사칙 연산을 수행하는 코드를 작성하고 각 결괏값을 봅시다.  
변수값을 변경해 실행한 후 결과값이 어떻게 달라지는지 확인하는 것을 추천합니다.

In [ ]:
a = 3
b = 2
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a * b = ', a*b)
print('a / b = ', a/b)
print('a // b = ', a//b)
print('a % b = ', a%b)
print('a ** b = ', a**b)

a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a // b =  1
a % b =  1
a ** b =  9

**실수형 사칙 연산**  
실수형 사칙 연산도 정수형 사칙 연산과 크게 다르지 않습니다.  
 다만, 한 가지 차이점은 정수형의 반환값은 기본적으로 정수형이고, 실수형의 반환값은 실수형이라는 점입니다.

In [ ]:
c = 3.0
d = 2.0
print('c + d =', c+d)
print('c - d =', c-d)
print('c * d =', c*d)
print('c / d =', c/d)
print('c // d =', c//d)
print('c % d =', c%d)
print('c ** d =', c**d)

c + d = 5.0
c - d = 1.0
c * d = 6.0
c / d = 1.5
c // d = 1.0
c % d = 1.0
c ** d = 9.0

## 논리형 연산자

Bool 형은 True와 False 값으로 정의합니다.  
정수형, 실수형 같은 사친 연산자와는 다른 의미를 갖습니다.  
논리형 연산자는 크게 AND, OR, NOT이 있습니다.

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 비교 연산자

비교 연산자는 부등호를 의미합니다.  
Python에서 주의할 점은, 왼쪽에 있는 값이 기준값이라는 점입니다.

In [ ]:
print(4 > 3)
print(4 < 3)
print(4 >= 3)
print(4 <= 3)
print(4 > 4)
print(4 >= 4)

True
False
True
False
False
True

## 논리형 & 비교 연산자 응용

논리형& 비교 연산자를 응용하기에 앞서, 몇 가지 함수를 알아보고 가겠습니다.   
**Input( ) 함수**는 print( ) 함수와 반대되는 개념으로 사용자가 특정한 값을 입력하도록 돕습니다.  
I**nt( ) 함수**는 문자열을 숫자로 데이터 타입을 변환시킵니다. 부등호 연산자를 쓰기 위해서는 이런시그이 형변환이 필수적입니다.

In [ ]:
var = input("입력")
print(type(var))

입력1
<class 'str'>

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요: "))
num2 = int(input("두번째 숫자를 입력하세요: "))
num3 = int(input("세번째 숫자를 입력하세요: "))
num4 = int(input("네번째 숫자를 입력하세요: "))

var1 = num1 >= num2 # True
var2 = num3 < num4 # True
print(var1 and var2)

첫번째 숫자를 입력하세요: 1
두번째 숫자를 입력하세요: 2
세번째 숫자를 입력하세요: 4
네번째 숫자를 입력하세요: 5
False

# 변수(Non-Scalar)
Scalar 자료형이 아닌 나머지 데이터는 모두 **Non-Scalar** 자료형으로 분류됩니다.

## String

Python은 작은 따옴표(') 나 큰 따옴표(") 를 사용해 문자열을 표기합니다.

In [ ]:
print("'Hello, world!'")
print('"Hello, world!"')

'Hello, world!'
"Hello, world!"

이 때 파이썬 인터프리터는 큰 따옴표와 작은 따옴표 두 가지를 똑같이 취급합니다.

## String Operators

Python은 연산자 오버로딩을 사용해 일반적인 수리 연산자를 문자열 형태의 변수에도 사용합니다.  
이 때 모든 사칙 연산이 가능한 것이 아니라 덧셈과 곱셈만 가능합니다.

Str1+ Str2: 덧셈 연산자를 통해 문자열 또는 문자열 변수를 합칩니다.

In [ ]:
str1 = "Hello "
str2 = "World "
print('str1 + str2 = ', str1 + str2)

str1 + str2 =  Hello World

Str1*N: 연산자를 통해 Str1을 n회 복제합니다.

In [ ]:
greet = str1 + str2
print('greet * 3 = ', greet * 3)

greet * 3 =  Hello World Hello World Hello World

## Indexing

**문자열 인덱싱**은 각각의 문자열 안에서 범위를 지정하는 것을 의미합니다.  
문자열의 범위는 0번째부터 시작합니다.

In [ ]:
greeting = "Hello Kaggle"
print(greeting[3])

l

## Slicing

만약 'Kaggle'글자만 추출하려고 할 때 필요한 것이 **슬라이싱(Slicing)**입니다.  
슬라이싱은 범위를 지정해 문자열의 일부를 추출하는 것입니다.  
문자의 길이가 n이라면,왼쪽이 0부터, 오른쪽 끝은 n-1입니다.

 

*   Str1[1:] :처음부터 끝까지 전체 문자열을 추출합니다. 
*   Str1[Start:] : Start 인덱스부터 끝까지 문자열을 추출합니다.
*   Str1[:End] : 처음부터 (End-1)인덱스까지 문자열을 추출합니다. 
*   Str1[Start:End]: start 인덱스부터 (End-1)까지 문자열을 추출합니다.  
*   Str1[Start:End:Step]:Step만큼 문자를 건너뛰면서 인덱스 Start와 End-1까지의 문자열을 추출합니다.

In [ ]:
greeting = "Hello Kaggle"
print(greeting[:])
print(greeting[6:])
print(greeting[:6])
print(greeting[3:8])
print(greeting[0:9:2])

Hello Kaggle
Kaggle
Hello
lo Ka
HloKg

문자열 인덱싱 및 슬라이싱을 수행하다 보면, 다음과 같은 에러가 발생하는 것을 볼 수 있습니다.

In [ ]:
greeting[10]

'l'

에러 메시지를 안내서라고 인지하고, 천천히 에러를 확인해 보며 더 나은 코드를 작성하도록 하는 도움말로 이해하는 것이 좋습니다.   
에러는 보통 2가지를 동시에 알려줍니다.
1. 에러가 발생한 위치에 대한 설명
2. 에러의 내용  
*----> 1 greeting[13]* 은 에러가 발생한 코드 및 위치를 알려줍니다.  
*IndexError: string index out of range* 의 의미는 String의 인덱스가 범위 밖에 있다는 뜻입니다.

## 리스트

파이썬에 존재하는 자료형으로, 시퀀스 데이터를 다룹니다.   
시퀀스를 갖는 것은 데이터에 순서가 있다는 뜻입니다.  
순서가 존재하니 **구성 요소(Element)**를 **인덱스(Index)**를 사용해 참조합니다.

리스트는 대괄호([])로 감싸고, 각 요소는 쉼표(,)로 구분합니다.  
리스트 이름=[요소1, 요소2, 요소3, ...] 형태로 사용합니다.  
리스트 요소로는 어떤 자료형도 넣을 수 있습니다.  
비어 있는(Empty) 리스트를 선언하고 싶다면, A=[]나, A=List()의 방식으로 선언할 수 있습니다.

In [ ]:
a = [] # 빈 리스트
a_func = list() #list()함수로도 빈 리스트를 만들 수 있다.
b = [1] # 숫자도 요소가 될 수 있다.
c = ['apple'] # 문자열도 요소가 될 수 있다
d = [1, 2, ['apple']] # 리스트 안에 리스트를 요소로 넣을 수 있다.

print(a)
print(a_func)
print(b)
print(c)
print(d)

[]
[]
[1]
['apple']
[1, 2, ['apple']]

리스트 인덱싱 시퀀스 데이터를 다뤄 리스트도 인덱싱합니다.  
간단한 숫자 데이터를 가진 리스트의 첫 번째 인덱스는 0으로 시작합니다. 마지막 인덱스는 n-1입니다. 여기서 n은 리스트에 들어 있는 요소의 개수를 의미합니다.  
문자열에서처럼 길이와 상관없이 가장 오른쪽 인덱스는 -1입니다.

In [ ]:
a =    [1,    2,   3]
# index [[0], [1], [2]]
print(a[0]) # 첫번째 요소
print(a[1]) # 두번째 요소
print(a[2]) # 세번째 요소
print(a[-1])

1
2
3
3

리스트 안에 또 다른 리스트를 추가하는 중첩 리스트입니다.

In [ ]:
a = [['apple','banana','cherry'], 1]
print(a[0][2][2:])

erry

In [ ]:
a = [['apple','banana','cherry'], 1]

print(a[0]) # 리스트 내의 리스트
print(a[0][0]) # 리스트 내의 리스트의 첫번째 문자열
print(a[0][0][4]) # 리스트 내의 리스트의 첫번째 문자열 'apple' 중 첫번째 인덱스
print(a[0][1]) # 리스트 내의 리스트의 두번째 문자열

['apple', 'banana', 'cherry']
apple
e
banana

**리스트의 슬라이싱은 문자열의 슬라이싱과 동일합니다.**

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

b = a[:4]  # 인덱스 0부터 3까지
c = a[1:4] # 인덱스 1부터 3까지
d = a[0:7:2] # 인덱스 0부터 6까지 인덱스 2씩 건너 띄우기
e = a[::-1] # 리스트 a의 역순
f = a[::2] # 리스트 전체구간에서 인덱스 2씩 건너띄우기

print("a[:4]", b)
print("a[1:4]", c)
print("a[0:7:2]", d)
print("a[::-1]", e)
print("a[::2]", f)

a[:4] [1, 2, 3, 4]
a[1:4] [2, 3, 4]
a[0:7:2] [1, 3, 5, 7]
a[::-1] [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
a[::2] [1, 3, 5, 7, 9]

문자열 연산자와 비슷하게 리스트도 수리 연산자를 적용할 수 있습니다.

**덧셈**

In [ ]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']
c = a+b

print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

**곱셈**

In [ ]:
a = ['a','b','c']
b = a*3
c = a*0
print("a * 3:", b)
print("a * 0:", c)

a * 3: ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
a * 0: []

## 리스트 값 수정하기

리스트의 요소 값은 **리스트 명[인덱스]=수정하려는 값**의 형태로 선언하면 수정할 수 있습니다.

In [ ]:
a = [0,1,2]
a[1] = "b"

print(a)

[0, 'b', 2]

## 리스트 값 추가하기

리스트에 하나의 요소만 추가하기 위해서는 **Append()** 메소드를 사용하면 됩니다.

In [ ]:
a = [100, 200, 300]
a.append(400)
print(a)

a.append([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

만약 리스트에 여러 개의 요소를 추가하고 싶다면 **Extend()** 함수를 사용합니다.

In [ ]:
a = [1,2,3]
a.extend([40,500])
print('a.extend([40,500]) result')
print(a)

a.extend([40,500]) result
[1, 2, 3, 40, 500]

**Insert(인덱스 위치, 값)** 함수는 마지막 리스트에 추가하는 형식인 Append와 Extend 함수와는 다르게 원하는 위치에 특정한 값을 추가하도록 돕습니다.

In [ ]:
a = [0,1,2]

a.insert(1,100)
print(a)

[0, 100, 1, 2]

리스트의 중간에 여러 개의 요소를 추가하고 싶다면 슬라이스로 요소를 할당할 수 있습니다.

In [ ]:
a = [0,1,2,3]
a[2:2] = [100,200]
print(a)

# 시작과 끝의 범위보다 큰 수를 덮어쓰는 예시
b = [0,1,2,3]
b[1:2] = [100,200,300,400] 
print(b)

# 시작과 끝의 범위가 작을때의 예시
c = [0,1,2,3]
c[1:3] = [100]
print(c)

[0, 1, 100, 200, 2, 3]
[0, 100, 200, 300, 400, 2, 3]
[0, 100, 3]

## 리스트 값 삭제하기

리스트의 값을 삭제하기 위해서는 **Remove()** 함수를 통해 가장 처음 나오는 요소를 삭제할 수 있습니다.

In [ ]:
a =[1,2,1,2]

#리스트의 첫번째 1이 삭제
a.remove(1)
print(a)

#리스트의 두번째 1이 삭제
a.remove(5)
print(a)

**Del() 함수**는 리스트 내의 특정 요소나 특정 범위의 값을 삭제할 때 사용 가능합니다.

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9]

# 1 삭제
del a[1]
print(a)

b = [0,1,2,3,4,5,6,7,8,9]
# 범위로 삭제
del b[1:3] #list는 항상 시작하는 index부터, 종료하는 n의 n-1까지의 범위를 잡아줍니다.
print(b)

**Pop() 함수**도 값을 삭제하는 함수입니다. 특정 인덱스의 값을 변환해 별도로 저장해야 하므로 주의해야 합니다.

In [ ]:
#인덱스를 지정한 pop()
a = [0,1,2,3,4]
r = a.pop(1)

print(a)
print(r)

[0, 2, 3, 4]
1

인덱스를 지정하지 않으면 리스트의 마지막 요소만 돌려주고 마지막 리스트만 삭제합니다.

In [ ]:
#인덱스를 지정하지 않은 pop()
b = ['a','b','c','d']
x = b.pop()

print(b)
print(x)

['a', 'b', 'c']
d

## 그 외 유용한 메서드

List.**Clear()** 함수는 리스트 내의 모든 값을 삭제합니다.  
여기서 Clear() 함수가 **리스트를 삭제하는 것이 아닌, 리스트 내의 값을 삭제**한다는 점을 주의해주세요.

In [ ]:
a = [0,1,2,3]
print(a)

a.clear()
print(a)

List.**Index()** 함수는 리스트 내에 찾으려는 값과 같은 값을 가진 요소의 첫 번째 위치를 반환합니다.

In [ ]:
a = ["Gold", "Gold", "Silver", "Silver"]
print("Silver가 처음 등장하는 인덱스 번호", a.index("Silver"))

**Sort()** 메소드 내에는 Reverse 라는 파라미터가 있는데, 이를 True 값으로 지정하면 내림차순으로 정렬합니다.

In [ ]:
a = [1, 4, 5, 2, 3]
b = [1, 4, 5, 2, 3]

a.sort()
print("sort():",a)

b.sort(reverse=True)
print("sort(reverse=True):", b)

하지만, List 내에서 데이터 타입이 섞여 있으면 에러가 발생합니다.

In [ ]:
b = [4,3,2,'a']

b.sort()
print(b)

이 외에도 list와 함께 자주 사용하는 메소드 중에는 역순 정렬을 의미하는 **Reverse()**, 리스트 내 최소값을 의미하는 **Min()**, 최대값을 의미하는 **Max()**, 리스트의 길이를 구할 때 쓰는 **Len()** 메소드도 있으니 참고하기 바랍니다.

## 튜플

List와 비슷한 객체로 Tuple 이 존재합니다. 리스트와 비슷하지만 약간의 차이점이 있습니다.  
List는 [], Tuple은 ()로 감쌉니다.  
리스트는 요소를 생성한 뒤에도 추가나 삭제가 자유롭지만, **튜플은 한 번 선언하면 그 값을 바꿀 수 없습니다.**

In [ ]:
tuple1 = (0) # 끝에 콤마(,)를 붙이지 않았을 때
tuple2 = (0,) # 끝에 콤마(,)를 붙여줬을 때
tuple3 = 0,1,2

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1)) # 콤마(,)를 붙여주지 않으면 튜플이 아닙니다.
print(type(tuple2)) # 콤마(,)를 붙여주어야 튜플 자료형 입니다.
print(type(tuple3)) # 여러개의 값 일경우 괄호를 없애주어도 튜플 자료형 입니다.

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

In [ ]:
a = (0,1,2,3,'a')
del a['a']

TypeError: ignored

In [ ]:
a = (0,1,2,3,'a')
a[1]='t'

TypeError: ignored

### 튜플 인덱싱 및 슬라이싱 하기

In [ ]:
t = (0,1,2,'b',4)

print(t[1])
print(t[3])

1
b

In [ ]:
t = (0,1,2,3,4)
print(t[2:])
print(t[0:2])

(2, 3, 4)
(0, 1)

### 더하기 및 곱셈 연산자 사용

In [ ]:
t1 = (0,1,2,3,4)
t2 = ('a','b','c')
t3 = t1+t2
print(t1+t2)
print(t3)

(0, 1, 2, 3, 4, 'a', 'b', 'c')
(0, 1, 2, 3, 4, 'a', 'b', 'c')

In [ ]:
t1 = ('a','b')
print(t1*0)
print(t1*3)

()
('a', 'b', 'a', 'b', 'a', 'b')

## 딕셔너리

딕셔너리(Dictionary)는 리스트나 튜플과는 다르게, **키(Key)와 값(Value)**으로 나뉘고, 순서가 존재하지 않습니다.  
Dictionary의 형식은 {Key: Value, Key: Value,...}의 형태로 사용합니다.

In [ ]:
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}

print(dic)
print(dic['teacher'])
print(dic['class'])
print(dic['list'])

{'teacher': 'alice', 'class': 5, 'studentid': '15', 'list': [1, 2, 3]}
alice
5
[1, 2, 3]

존재하지 않는 Key 값을 입력하면 에러 메시지를 확인할 수 있습니다.

In [ ]:
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}
print(dic['real'])

KeyError: ignored

**Keys()** 함수는 Dictionary 내부에 Key 값만 모아서 Dict_Keys 객체를 반환합니다.

In [ ]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.keys()

dict_keys(['name', 'job', 'age'])

**Values()** 함수는 Value만 추출합니다.

In [ ]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.values()

dict_values(['bob', 'farmer', 35])

**Items()** 메소드는 Key와 Values 쌍을 Tuple로 묶어서 반환합니다.

In [ ]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.items()

dict_items([('name', 'bob'), ('job', 'farmer'), ('age', 35)])

**Get()** 메소드는 Key 값에 대응하는 Value를 반환합니다.  
존재하지 않는 Key 값을 호출하려고 하면 에러 메시지가 출력되는 것과 달리 None을 반환합니다.  
만약에 Dictionary 안에서 찾으려는 Key가 없을 때 None 대신 사전에 정해둔 값을 가져오고 싶을 때는 **Get(Key,'디폴트 값')**의 형태로 사용하면 디폴트 값이 반환됩니다.

In [ ]:
a = {'name': 'chris', 'job': 'painter', 'age': 30}
print(a.get('name'))
print(a.get('dinner'))
print(a.get('dinner', 'empty'))

chris
None
empty

## 집합 연산자

**집합**은 순서가 존재하지 않고, 중복을 허용하지 않습니다.  
빈 집합은 dict와 동일한 중괄호를 사용해 중괄호만으로는 선언할 수 없고, **Set 생성자**를 사용해야 합니다.

In [ ]:
s = {}
print(type(s))

s = set()
print(type(s))

s = {1,2,3}
print(type(s))

집합 자료형의 연산자는 **합집합(|), 교집합(&), 차집합(-), 대칭 차집합(^)**을 사용합니다.  
먼저 합집합 연산자는 **S1|S2** 형태로 계산하며 중복 없이 더합니다.   
메소드는 **A.Union(b)**와 같이 사용할 수 있습니다.

In [ ]:
a = {1,3,5}
b = {2,4,6}

c = a|b
d = a.union(b)
print("a|b:", c)
print("a.union(b)", d)

교집합 연산자는 S1의 집합에서 S2의 값과 중복되는 값을 제거합니다.  
메소드는 **A.Interaction(b)**를 사용할 수 있습니다.

In [ ]:
a = {1,3,5}
b = {2,4,6}
c = a&b
print(c)

e = {1,2,5}
f = {2,3,5}
g1 = e&f
g2 = e.intersection(f)
print("e&f:", g1)
print("e.intersection(f):", g2)

차집합 연산자는 S1의 집합에서 S2의 요소와 중복되는 값을 제거합니다.  
**A.Difference(b)** 메소드를 사용할 수 있습니다.

In [ ]:
a = {1,3,5}
b = {2,4,5}

c1 = a-b
c2 = a.difference(b)
print("a-b:", c1)
print("a.difference(b)", c2)

대칭 차집합 연산자는 합집합에서 교집합 부분을 제외한 것입니다.  
**A.Symmetric_Difference(b)** 메소드를 사용할 수 있습니다.

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

c1 = a^b
c2 = a.symmetric_difference(b)
print("a^b", c1)
print("a.symmetric_difference(b)", c2)

## if 조건문

조건문은 먼저 **If의 조건**부터 순서대로 만족하는지 여부를 확인해보면서 조건이 만족한다면 해당 조건에 해당하는 Task를 수행합니다.  
만약 첫 번째 조건이 만족하지 않는다면 다음에는 **Elif 조건문**으로 넘어갑니다.  
어떤 조건문이 없다면 **Else**에 해당하는 Task를 수행하고 조건문을 종료합니다.

In [ ]:
a = -5

if a > 5: 
  print('a is bigger than 5')

elif a > 0:
  print("a is bigger than 0 but a is smaller than 5 ")

else:
  print("a is negative")

a is negative

In [3]:
var = int(input("입력"))

if var >= 90:
  print("A등급")
elif var >= 80:
  print("B등급")
else:
  print("C등급")

입력50
C등급

IF 조건문은 If 뒤 조건식 뒤에 콜론(:)을 붙입니다. 그리고 다음 줄부터는 들여쓰기를 4칸 해서 구별합니다. 이 때 조건문 내에서 실행하는 코드 부분을 **본문(Body)**라고 부릅니다.

- Elif 나 Else는 단독으로 사용할 수 없습니다.
- Else 는 마지막에 한 번만 사용할 수 있습니다.
- If Else Elif 순으로 사용할 수는 없습니다.

## 반복문

반복문은 크게 For Loop와 While Loop로 나뉩니다.  
**For Loop**는 시퀀스 데이터, String이나 List 자료형과 같은 데이터를 활용할 때 사용합니다.  
**While Loop**는 조건식이 참일 때만 반복해서 수행합니다.

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World

For Loop은 같은 작업을 반복할 대, 불필요한 코드 낭비를 해결해줍니다.

In [ ]:
for i in range(3):
  print(i+1, "Hello World")

1 Hello World
2 Hello World
3 Hello World

For Loop 문에는 If 조건문을 활용할 수도 있습니다.

In [ ]:
a = "Kaggle"

for x in a:
  print(x)

  if x == 'g':
    break

K
a
g

반복문을 작성하는 방법에는 Zip, Enumerate, Range, Len 함수 등 다양한 함수가 있습니다.

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
    print(index, value)

0 A
1 B
2 C

## 리스트 컴프리헨션 (List Comprehension)
- pythonic으로 코딩을 한다.
- 반복문을 한줄로 처리 ==> 반환값은 리스트로 반환

In [ ]:
fruits = ["apple", "kiwi", "mango"]
newlist = []

for fruit in fruits:
  # print(fruit)
  if "a" in fruit:
    newlist.append(fruit)
print(newlist)

['apple', 'mango']

In [ ]:
fruits = ["apple", "kiwi", "mango"]
newlist = [fruit for fruit in fruits if "a" in fruit]
print(newlist)

['apple', 'mango']

## 사용자 정의 함수

In [ ]:
def 함수명(param1, param2):
  # 코드
  return None

In [ ]:
def add(a=0, b=1):
  # c = a + b
  return a + b

add()

1